$secondary-black: #848484;

.video-card 
{
    cursor: pointer;
    // border:2px solid red;
    // width: 405px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
     
    p { font-size: 1vw; }
}
.thumbnail 
{
    // height: 225px;
    max-height: 225px;
    height: auto;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
}
.yt-profile
{
    height: 36px;
    width: 36px;
}
.vc-inner 
{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    // width: 100vw;
    align-items: center;
    justify-content: start;
    text-overflow: ellipsis;

    p {
        font-weight: 100;
    }
}
.title 
{
    max-height: 41px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 350px;
    overflow: hidden;
}
.chl-name 
{
    color: $secondary-black;
    margin-top: 6px;
    font-size: 14px;
}
.views 
{
    color: $secondary-black;
    margin-top: 2px;
}
@media screen and (max-width: 1210px)
{
    .video-card p
    {
        font-size: 1.2vw;
    }   
}
@media screen and (max-width:800px) {
    .video-card 
    {
        p { font-size: 2vw; }
    }
}
@media screen and (max-width:500px) {
    .video-card 
    {
        p { font-size: 3vw; }
        width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .thumbnail {
        height: 205px;
        width: 370px;
    }
    .vc-inner 
    {
        gap: 15px;
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 1rem;
    }
    .title 
    {
        width: 90%;
    }
}
