
$primary-black: #0F0F0F;
$secondary-black: #222222;
$secondary-black-hover: #414141;
$primary-font: 'Roboto';

.youtube-logo 
{
    width: 90px;
}
.header-icon 
{
    width: 1.6rem;
}
.burger-icon 
{
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover 
    {
        background-color: $secondary-black-hover;
    }
}
.header 
{
    display: flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 1.2rem;
    padding-right: 2rem;
    min-width: 350px;

    div 
    {
        display: flex;
        align-items: center;
    }
}
.header-1 
{
    gap: 1rem !important;

    span 
    {
        cursor: pointer;
    }
    img 
    {
        cursor: pointer;
    }
}
.header-2 
{
    background-color: $primary-black;
    justify-content: center;
    gap: 2rem;

    .mic-div
    {
        background-color: $secondary-black;
        padding: 0.5rem;
        border-radius: 50%;
        border:1px solid $secondary-black-hover;
        cursor: pointer;

        &:hover 
        {
            background-color: $secondary-black-hover;
        }
    }
}
.search-input 
{
    border:1px solid $secondary-black-hover;
    display: flex;
    border-radius: 1.5rem;
    background-color: $secondary-black;

    input 
    {
        background-color: $primary-black;
        font-family: $primary-font;
        // width: 500px;
        width: 33vw;
        height: 2.4rem;
        padding: 0.5rem 0 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        border-right:1px solid $secondary-black-hover;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        color:white;

        &:focus
        {
            outline: 1px solid #065fd4;
        }
    }
    div 
    {
        padding:0 1rem;
        cursor: pointer;
    }
}
.header-3 
{
    display: flex;
    gap: 1.2rem;

    .header-3-img
    {
        cursor: pointer;
        padding:0.4rem;
        // background-color: red;
        border-radius: 50%;

        &:hover 
        {
            background-color: $secondary-black-hover;
        }
    }
    .res-search 
    {
        cursor: pointer;
        width: 2.5rem;
        padding: 0.4rem;
        border-radius: 50%;

        img 
        {
            width: 1.5rem;
        }

        &:hover 
        {
            background-color: $secondary-black-hover;
        }
    }
    .user-icon 
    {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        cursor: pointer;
    }
}
.res-search 
{
    display: none !important;
}
@media screen and (max-width:800px)
{
    .header-1
    {
        .burger-icon
        {
            display: none;
        }
    }
    .header-2 
    {        
        div 
        {
            display: none;
        }
    }
    .res-search 
    {
        display: grid !important;
        margin-right: -0.2rem;
        place-items: center;
    }
    .upload-icon 
    {
        display: none !important;
    }
}