$primary-gradient: #494949;
$secondary-black: #7E7E7E;
$secondary-black-1: #373737;

.watch 
{
    height: 100vh;
    width: 92vw;
    position: absolute;
    margin-left: 100px;
    display: flex;
}
.watch-in 
{
    width: 65%;
}
.iframe 
{
    // height: 514px;
    // width: 915px;
    width: 100%;
    height: auto;
    // height: auto;
    aspect-ratio: 16/9;
    // padding-bottom: 50%;
    margin-top: 1.2rem;
    border-radius: 10px;
    // box-shadow:0px 0px 50px 2px $primary-gradient;
}
.watch-title 
{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.yt-channel-pp 
{
    height: 40px;
    width: 40px;
}
.watch-inner-left 
{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.wn1l 
{
    .subs{
        color:$secondary-black;
        font-size: 14px;
        margin: 5px 0;
        font-weight: 200;
    }
}
.subs-btn
{
    background-color: white;
    color:black;
    font-family: 'Roboto';
    border:none;
    width: 95px;
    height: 36px;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 20px;
    font-size: .9rem;
    transition: all 200ms ease-in-out;

    &:hover 
    {
        background-color: rgb(210, 209, 209);
    }
}
.clicked 
{
    background-color: $secondary-black-1;
    color:white;
    width: 110px;
     
    &:hover 
    {
        background-color: $secondary-black-1;
    }
}
.watch-inner-1 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}
.watch-inner-right 
{
    display: flex;
    align-items: center;
    gap: 10px;

    button
    {
        height: 40px;
    }
}
.likes 
{
    display: flex;

    button 
    {
        background-color: $secondary-black-1;
        border:none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:7px 15px; 
        height: 40px;
        // min-width: 52px;
        font-family: 'Roboto';
        cursor: pointer;

        &:nth-child(1) 
        {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            display: flex;
            gap: 5px;
            border-right: 1px solid gray;
        }
        &:nth-child(2) 
        {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;   
        }
        &:hover 
        {
            background-color: $secondary-black;
        }
    }
}
.y-svg 
{
    height: 25px;
}
.yts-btn 
{
    display: flex;
    background-color: $secondary-black-1;
    width: 120px;
    align-items: center;
    justify-content: center;
    border:none;
    cursor: pointer;
    border-radius: 30px;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 500;

    &:hover 
    {
         background-color: $secondary-black;
    }
}
.d-btn 
{
    width: 130px;
}
.dt-btn 
{
    width: 40px;
}
.wainner-l1 
{
    display: flex;
    gap: 10px;
}
.live-comments
{
    width: 35%;
    // border:2px solid red;
    height: 100vh;
}
@media screen and (max-width:1300px)
{
    .d-btn {
        display: none;
    }
}

@media screen and (max-width:1100px){
    .watch-inner-1
    {
        flex-direction: column;
        gap: 1rem;

        .watch-inner-left
        {
            width: 100%;
            justify-content: space-between;
        }
        .watch-inner-right 
        {
            width: 100%;
            justify-content: space-between;
        }
    }
}
@media screen and (max-width:500px) {
    .watch
    {
        width: 95vw;
        margin: 0;
        padding: 0;
        display: flex;
        // justify-content: center;
        margin-left: 0.5rem;
    }
    .watch-inner-1
    {
        width: 95vw;
        align-items: center;
    }
    .iframe 
    {
        width: 95vw;
    }
    .watch-title
    {
        width: 95vw;
    }
    .yt-desc 
    {
        width: 95vw;
    }
    .live-comments
    {
        width: 100%;
    }
}
.yt-desc 
{
    background-color: $secondary-black-1;
    border-radius: 15px;
    margin-top: 1rem;
    padding:10px;
    overflow: hidden;

    div 
    {
        display: flex;
        gap: 20px;
    }
}
.yt-ds 
{
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 10px;
}
@media screen and (max-width:1400px) {
    .watch 
    {
        flex-direction: column;
    }
    .live-comments
    {
        width: 65%;
    }
}